
main {
    font-size: 12px;
    width: 100%;
    min-width: 300px;    
    min-height: 100vh;
    background-color: #E5E5E5;
    padding: 2em;
    font-family: 'Inter', sans-serif;   
    
    
}

textarea {
    resize: none;
    background-color: #E5E5E5;
    border: none;
    margin-top: 3em;
    width: 100%;
    
}
textarea::placeholder {
    color: #0A3871;
    font-size: 2em;
    font-weight: bold;
}

p.alert {
    color: #495057;
    font-size: 1em;    
    font-weight: bold;
    margin-bottom: 2em;
    display: flex;
    gap: 1em;
    align-items: center;

}
.btns-cont {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.decrypt, .encrypt {
    width: 90%;
    max-width: 500px;
    height: 60px;
    border: none;
    border-radius: 1em;
    font-size: 1.33em;
    font-weight: bold;
    
}
.decrypt {
    
    background-color: #E5E5E5;
    border: 1px solid #0A3871;
    color: #0A3871;
    
}

.encrypt {
    
    background-color: #0A3871;
    color: #E5E5E5;

}








